In [7]:
import pandas as pd
import os

BASE_DIR = os.path.abspath("..")
csv_path = os.path.join(BASE_DIR, "data", "processed", "cpi_food_clean.csv")

df = pd.read_csv(csv_path)
df["date"] = pd.to_datetime(df["date"])
df = df.sort_values(["category", "date"])

df.head()

        date     series_id          category    value
0 2015-01-01  CUSR0000SEFC  Cereals & bakery  325.728
1 2015-02-01  CUSR0000SEFC  Cereals & bakery  326.521
2 2015-03-01  CUSR0000SEFC  Cereals & bakery  324.972
3 2015-04-01  CUSR0000SEFC  Cereals & bakery  325.895
4 2015-05-01  CUSR0000SEFC  Cereals & bakery  324.713